watch_file nix/*
{
    # shell gc root dir
    mkdir -p "$(direnv_layout_dir)"
    eval "$(nix print-dev-env github:GTrunSec/vast2nix#user --no-update-lock-file --no-write-lock-file --profile $(direnv_layout_dir)/flake-profile)"
} || use nix
