name: "CI"
on:
  push:
    branches: [main, staging, trying]
  schedule:
    - cron: "0 0 * * SUN" # every sunday
jobs:
  nix-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.2.0
        with:
          fetch-depth: 0
      - uses: cachix/install-nix-action@v17
        with:
          install_url: https://github.com/numtide/nix-unstable-installer/releases/download/nix-2.10.0pre20220611_37fc4d7/install
          extra_nix_config: |
            experimental-features = nix-command flakes
            system-features = nixos-test benchmark big-parallel kvm recursive-nix

      - uses: cachix/cachix-action@v10
        with:
          name: zeek
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Check Doc
        run: nix develop ./devshell --print-build-logs --command just deploy demo doc

      - name: Check Bundle
        run: nix develop ./devshell --print-build-logs --command just deploy demo '--env-file=./profiles/demo/deploy.env -t bundle'

      - name: Check Config Doc
        run: nix develop ./devshell --print-build-logs --command just config demo doc

      - name: Check Config Files
        run: nix develop ./devshell --print-build-logs --command just config demo vast

      - name: Check Vast CLI Doc
        run: nix develop ./devshell --print-build-logs --command vast-doc understand-vast/query-language/frontends/README

      - name: Build Doc
        run: nix develop github:GTrunSec/vast2nix#devShells.x86_64-linux.user --print-build-logs --no-update-lock-file --no-write-lock-file --command mdbook build

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.3.4
        with:
          branch: gh-pages
          folder: ./docs/book
